<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :initial_date %>
    <%= form.datetime_select :initial_date, id: :reservation_initial_date %>
  </div>

  <div class="field">
    <%= form.label :final_date %>
    <%= form.datetime_select :final_date, id: :reservation_final_date %>
  </div>

  <div class="field">
    <%= form.label :obs %>
    <%= form.text_field :obs, id: :reservation_obs %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :reservation_user_id %>
  </div>

  <div class="field">
    <%= form.label :item_id %>
    <%= form.text_field :item_id, id: :reservation_item_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
