<div class="title container">
  Minhas Reservas
</div>

<div class="container">
  <p id="notice"><%= notice %></p>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Código</th>
        <th class="text-center">Item</th>
        <th class="text-center">Data Inicial</th>
        <th class="text-center">Data Final</th>
        <th class="text-center">Quantidade</th>
        <th class="text-center">Observação</th>
        <th colspan="1"></th>
      </tr>
    </thead>

    <tbody>
      <% @reservations.each do |reservation| %>
        <tr>
          <td class="text-center"><%= reservation.id %></td>
          <td class="text-center"><%= reservation.item.name %></td>
          <td class="text-center"><%= reservation.initial_date.strftime("%d/%m/%Y %H:%m") %></td>
          <td class="text-center"><%= reservation.final_date.strftime("%d/%m/%Y %H:%m") %></td>
          <td class="text-center"><%= reservation.item.quantity %></td>
          <td class="text-center"><%= reservation.obs %></td>
          <td class="text-center"><%= link_to 'Cancelar Reserva', destroy_reservation_path(reservation) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
