 <table>
    <tbody>
      <%= form_for :item , url: create_item_path(product_id: @product), 
      html:{method: 'post'} do |f| %> 
        <%= fields_for :reservation do |reservation_fields| %>
          <tr>
            <td>
              <%= reservation_fields.label :initial_date%>
              <%= reservation_fields.datetime_select :initial_date, id: :reservation_initial_date %>
            </td>
          </tr> 
          <tr>
            <td>
              <%= reservation_fields.label :final_date%>
              <%= reservation_fields.datetime_select :final_date, id: :reservation_initial_date %>
            </td>
          </tr>             
        <% end %>
        <tr>
          <td>
              <%= f.label :quantity %>
              <%= f.text_field :quantity %></td>
        </tr>
        <tr>
          <td><%= f.submit 'Adicionar' %></td>
        </tr>
        <% end %>
  </tbody>
</table>