<p id="notice"><%= notice %></p>
<div style=" text-align:center">
  <div class="product-title">
    <h1>
      <%= @item.name %>
    </h1>
  </div>
  <strong>Preço:</strong>
  <div class="product-price"> R$<%= @item.price %> </div>
  <strong>Quantidade</strong>
  <div class="product-price"><%= @item.quantity %></div>

  <strong>Total:</strong>
  <div class="product-price"> R$ <%= @item.price * @item.quantity%> </div>

  <%= link_to 'Finalizar Compra', home_checkout_path, class: 'btn btn-red btn-block mb-30'%>

</div>

