<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @stablishment.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stablishment.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @stablishment.user %>
</p>

<p>
  <strong>Country:</strong>
  <%= @stablishment.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @stablishment.phone %>
</p>

<p>
  <strong>Phone2:</strong>
  <%= @stablishment.phone2 %>
</p>

<p>
  <strong>Cnpj:</strong>
  <%= @stablishment.cnpj %>
</p>

<p>
  <strong>Fantasy:</strong>
  <%= @stablishment.fantasy %>
</p>

<%= link_to 'Edit', edit_stablishment_path(@stablishment) %> |
<%= link_to 'Back', stablishments_path %>
