<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @stablishment.address %>
</p>

<p>
  <strong>Name:</strong>
  <%= @stablishment.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @stablishment.company_user.email %>
</p>


<p>
  <strong>Phone:</strong>
  <%= @stablishment.phone %>
</p>


<%= link_to 'Editar', edit_stablishment_path(@stablishment) %> |
<%= link_to 'Back', stablishments_path %>
