<div class="title container">
  Meus Produtos
</div>

<div class="container">
  <%= form_tag("/products/validate", method: "post", class: 'form-inline') do %>
    <%= text_field_tag(:code, '', { placeholder: 'Código da reserva', class: 'form-control'}) %>
    <%= submit_tag("Validar Reserva", class: 'btn btn-red') %>
  <% end %>

  <br><br>

  <%= link_to 'Criar Produto', new_product_path, class: 'btn btn-red' %>

  <table class="table">
    <thead>
      <tr>
        <th class="text-center">Nome</th>
        <th class="text-center">Quantidade</th>
        <th class="text-center">Preço</th>
        <th class="text-center">Endereço</th>
        <th colspan="4"></th>
      </tr>
    </thead>
    <tbody>
      <% @products.each do |product| %>
        <tr>
            <td class="text-center"><%= product.name %></td>
            <td class="text-center"><%= product.quantity %></td>
            <td class="text-center"><%= product.price_format %></td>
            <td class="text-center"><%= product.address %></td>
            <td class="text-center"><%= link_to 'Visualizar', product %></td>
            <td class="text-center"><%= link_to 'Editar', edit_product_path(product) %></td>
            <td class="text-center">
              <% if product.items.size > 0 %>
                Impossível remover produto.
              <% else %>
                <%= link_to 'Remover', destroy_product_path(product) %>
              <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
