<!DOCTYPE html>
<html>
  <head>
    <title>Travely</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <table>
      <tbody>
        <tr>
          <td><%=link_to "Reservations", reservations_path %></td>
          <td><%=link_to "Item", items_path %></td>
          <td><%=link_to "Carts", carts_path %></td>
          <td><%=link_to "Products", products_path %></td>
          <td><%=link_to "Stablishments", stablishments_path %></td>
          <td><%=link_to "Home", home_index_path %></td>
        </tr>
      </tbody>
    </table>
    <%= yield %>
  </body>
</html>
